.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 10;

  height: 100%;
  padding: 20px 30px;
  background-color: var(--color-white);
}

.logo img {
  width: auto;
  height: 45px;
}

.nav {
  font-size: 1.8rem;
  color: var(--color-pink);

  cursor: pointer;
}

.menu {
  position: absolute;
  top: -300px;
  z-index: 9;

  width: 100%;
  border-radius: 0 0 15px 15px;
  background-color: var(--color-black);

  color: var(--color-white);

  transition: top 0.2s ease-in-out;
}

.menu.open {
  top: 88px;
}

.menu li {
  padding: 5px 35px;

  text-align: right;

  list-style: none;
  cursor: pointer;
}

.menu li:hover {
  background-color: var(--color-pink);
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;

  line-height: 40px;
}
