:root {
  --main-color: #f1f1f1;
  --color-black: #000;
  --color-pink: #fa96aa;
  --color-grey: #d9d9d9;
  --color-flat: #f7f0f2;
  --color-white: #fff;
  --color-shadow: #00000029;

  --color-font-base: #000;
  --color-font-secondary: #707070;
  --color-background-base: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #f1f1f1;
    --color-black: #000;
    --color-pink: #fa96aa;
    --color-grey: #d9d9d9;
    --color-flat: #f7f0f2;
    --color-white: #fff;
    --color-shadow: #00000029;

    --color-font-base: #000;
    --color-font-secondary: #707070;
    --color-background-base: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-black);
}

p {
  margin: 10px 0;
}

body {
  background-color: var(--color-background-base);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
